<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

<h1>Welcome to the Madlbs!</h1>

<form action="/madlib" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name"><br>

    <label for="color">Color:</label>
    <input type="text" name="color"><br>

    <label for="noun">Noun:</label>
    <input type="text" name="noun"><br>

    <label for="adjective">Adjective:</label>
    <input type="text" name="adjective"><br>

    <button type="submit">Generate Mad Lib</button>

</form>

</body>
</html>